.btn-1{
    color: white;
    background-color: rgb(124, 78, 228);
    height: 40px;
    width: 130px;
    border-radius: 0;
}
.span-1{
    color: #7C4EE4;
}
.con-2{
    background-color: #7C4EE4;
    
}
.btn-2{
    background-color: white;
    color: black;
    height: 50px;
  padding: 0 43px;
  border-radius: 8px
  
}

.hero-img{
    width: 70%;
    height: 100%;
    margin-left: 80px;
    
}



.con-3 {
    position: relative;
}

.con-3-1 {
    position: absolute;
    top: 230px;

    left: 0;
    right: 0;
    margin: 0 auto;

    width: 80%;
    max-width: 900px;

    background: white;
    padding: 30px;
    border-radius: 16px;
}


.para-1{
    color: #666666;
}
.span-1{
    color: #7C4EE4;
}
.con-3-1{
    height:360px ;
    width: 920px;
    border-radius: 16px;
   background-color: #FFFFFF; 
}
.img-2{
    width: 1000px;
    height: 500px;
}
.btn-3{
    outline: #7C4EE4;
    color: #7C4EE4;
      border: 2px solid #7C4EE4;
}
.con-4{
    margin-top: 250px;
}
.span-2{
    color: #666666;
}
.btn-4{
    color: white;
    background-color: #7C4EE4;
    height: 40px;
    width: 130px;
    border-radius: 0;
}
.sec-1{
    margin-top: 100px;
}
.custom-card {
    border: none;
    
    border-radius: 10px;
}

.custom-img {
    height: 200px;
    width: 100%;
    object-fit:contain;
    border-radius: 10px ;
}

.read-link {
    color: #6f42c1;
    font-weight: 600;
    text-decoration: none;
}

.read-link:hover {
    text-decoration: underline;
}
.btn-5{
    background-color: #6f42c1;
    color: #FFFFFF;
}

.newsletter-section {
    background: #8b44e2;
    color: white;
    padding: 80px 20px;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter-title {
    font-size: 2rem;
}

.newsletter-form .email-input {
    max-width: 300px;
    margin-right: 10px;
}

.get-started-btn {
    border: 1px solid white;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 6px;
    color: white;
}

.newsletter-note {
    font-size: 0.9rem;
    opacity: 0.8;
}


.footer-section {
    background: white;
}

.footer-menu a {
    text-decoration: none;
    color: #666666;
    font-weight: 600;
}




.footer-divider {
    border: 1px solid #6f42c1;
    width: 90%;
    margin: 20px auto;
}

.footer-copy {
    font-size: 17px 
   
}
.footer-logo img{
   width: 80px;  
    height: auto;
}

























@media only screen and (max-width:1200px) {
.img-2{
    width:700px ;
}
.con-3-1{
    width: 400px;
    left: 129px;
}
}    
  
@media only screen and (max-width:992px) {
    .navbar-nav li{
        text-align: center;
    }

    .hero-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .row.mx-5 {
    display: flex;
    flex-direction: column-reverse;
  }

   .con-3-1 {
        position: static;
        margin-top: 20px;
        max-width: 100%;
        height: 100%;
    }

  
}   

@media only screen and (max-width: 768px) {
    .img-2{
        width: 400px;
        
    }
}
@media only screen and (max-width: 580px) {
    .con-3-1{
        width: 60%
    }
    .img-2{
        width: 80%;
        
    }
}

@media only screen and (max-width: 576px) {
    .newsletter-form {
        flex-direction: column;
    }
    .newsletter-form .email-input {
        margin-right: 0;
        margin-bottom: 10px;
    }
}